
Head
  
  style
    include ../public/styles/index.css

Body
  | Welcome to Diab-Games

  break
  
  a(class='button' href='/maggie') Play Maggie

  break 
  
  a(class='button' href='/sugarsugar') Play Sugar Sugar
