head
  title Welcome to Sugar Sugar 3!
  script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src = 'https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.js')
  script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js')
  script(src = '../static/scripts/sugarsugar/path.js')
  script(src = '../static/scripts/sugarsugar/food_item.js')
  script(src = '../static/scripts/sugarsugar/sugar_crystal.js')
  script(src = '../static/scripts/sugarsugar/model.js')
  script(src = '../static/scripts/sugarsugar/controller.js')
  script(src = '../static/scripts/sugarsugar/view.js')

body
